<%- include('../partials/header') %>
<main>
  <div class="container d-flex flex-column align-items-center mt-5 gap-3">
    <h1>Ini adalah halaman Master</h1>
    <button type="button" class="btn btn-primary" onclick="startQuiz()">
      Start Quiz!
    </button>
  </div>
</main>

<script src="js/script.js"></script>

<%- include('../partials/footer') %>
