  /* Layout Flexbox untuk Sticky Footer */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  /* Konten utama agar fleksibel */
  main {
    flex: 1;
  }

  /* Border Header & Footer */
  .logo {
    margin-top: -10px;
  }

  .fund {
    display: flex;
    flex-direction: column;
    /* Susun elemen secara vertikal */
    align-items: center;
    /* Pusatkan horizontal */
    gap: 8px;
    /* Beri jarak antara teks dan fund-box */
  }

  .fund-box {
    background-color: #38D200;
    /* Warna hijau */
    color: white;
    /* Teks putih */
    width: 189.1px;
    /* Lebar */
    height: 36px;
    /* Tinggi */
    display: flex;
    justify-content: center;
    /* Pusatkan horizontal */
    align-items: center;
    /* Pusatkan vertikal */
    border-radius: 20px;
    /* Sudut melengkung */
    font-size: 18px;
    /* Ukuran teks */
    font-weight: bold;
    text-align: center;
    /* Pastikan teks rata tengah */
  }

  .text-green {
    color: green;
  }

  .text-red {
    color: red;
  }


  .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* Gambar tetap di bawah */
    position: fixed;
    /* Agar selalu di bawah tanpa perlu scroll */
    bottom: 0;
    left: 0;
  }

  .footer-img {
    height: auto;
    position: absolute;
  }

  .left {
    left: 0;
    bottom: 0;
    /* Posisi di ujung bawah */
  }

  .right {
    right: 0;
    bottom: 0;
    /* Posisi di ujung bawah */
  }

  /* Mode portrait */
  @media (orientation: portrait) {
    .footer-img {
      width: 50%;
    }
  }

  /* Mode landscape */
  @media (orientation: landscape) {
    .footer-img {
      width: 18%;
    }
  }