  /* Layout Flexbox untuk Sticky Footer */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #2C3A85 0%, #0061C5 100%)
  }

  /* Konten utama agar fleksibel */
  main {
    flex: 1;
  }

  /* Border Header & Footer */
  .logo {
    margin-top: -10px;
    width: 300px; /* Sesuaikan ukuran lebarnya */
    height: auto; /* Menjaga aspek rasio */
    max-width: 100%; /* Agar tetap responsif */
  }


  /* Kelas untuk tombol yang dipilih */
  .selected {
    background-color: #4CAF50;
    /* Ganti dengan warna yang diinginkan */
    color: white;
  }

  /* Kelas untuk tombol yang dinonaktifkan */
  .disabled {
    background-color: #f0f0f0;
    color: #ccc;
  }

  .tied-player td,
  .tied-player th {
    background-color: #38D200 !important;
    color: white !important;
  }

  .top-team td,
  .top-team th {
    background-color: #0473EA !important;
    color: white !important;
  }

  .tied-player:first-child td:first-child,
  .top-team:first-child td:first-child {
    border-top-left-radius: 10px;
  }

  .tied-player:first-child td:last-child,
  .top-team:first-child td:last-child {
    border-top-right-radius: 10px;
  }

  .tied-player:last-child td:first-child,
  .top-team:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }

  .tied-player:last-child td:last-child,
  .top-team:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }


  .fund {
    display: flex;
    flex-direction: column;
    /* Susun elemen secara vertikal */
    align-items: center;
    /* Pusatkan horizontal */
    gap: 8px;
    /* Beri jarak antara teks dan fund-box */
  }

  .fund-box {
    background-color: #38D200;
    /* Warna hijau */
    color: white;
    /* Teks putih */
    width: 189.1px;
    /* Lebar */
    height: 36px;
    /* Tinggi */
    display: flex;
    justify-content: center;
    /* Pusatkan horizontal */
    align-items: center;
    /* Pusatkan vertikal */
    border-radius: 20px;
    /* Sudut melengkung */
    font-size: 18px;
    /* Ukuran teks */
    font-weight: bold;
    text-align: center;
    /* Pastikan teks rata tengah */
  }

  .seat-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
  }

  .option-container {
    width: 100%;
    max-width: 200px;
    /* Sesuaikan ukuran container */
  }

  .option-container img {
    width: 100%;
    max-width: 180px;
    /* Batasi ukuran gambar */
  }

  .option-container button {
    width: 100%;
    max-width: 180px;
    padding: 5px 10px;
    font-size: 12px;
  }

  .vote-count {
    background-color: #38D200; /* Warna hijau sesuai permintaan */
    color: white;
    border-radius: 30px;
    border: none;
    margin-top: 5px;
  }

  .vote-count:hover {
    background-color: #38D200;
    color: white; /* Warna hijau sesuai permintaan */
  }
  
  .vote-count:active {
    background-color: #38D200; /* Warna hijau sesuai permintaan */  
    color: white; /* Warna hijau sesuai permintaan */
  }