  /* Layout Flexbox untuk Sticky Footer */
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #2C3A85 0%, #0061C5 100%)
  }

  /* Konten utama agar fleksibel */
  main {
    flex: 1;
  }

  /* Border Header & Footer */
  .logo {
    margin-top: -10px;
  }


  /* Kelas untuk tombol yang dipilih */
.selected {
  background-color: #4CAF50; /* Ganti dengan warna yang diinginkan */
  color: white;
}

/* Kelas untuk tombol yang dinonaktifkan */
.disabled {
  background-color: #f0f0f0;
  color: #ccc;
}
