<%- include('../partials/header') %>
<main>
  <div class="container d-flex flex-column align-items-center mt-5 gap-3">
    <h2>Selamat Datang, Tim <%= namatim %>!</h2>
    <h2>Please Wait for the master to start the quiz!</h2>
    <h1 id="credit">$ 1,000,000</h1>
  </div>
</main>

<script>
  var namatim = "<%= namatim %>";
  const socket = io('http://localhost:3000', {
    query: {
          userId: namatim,  // ID tetap
          role: 'user'
      }
  })

  socket.emit("TeamJoined", namatim)

  socket.on("quizStarted")
</script>

<%- include('../partials/footer') %>
