<%- include('../partials/header') %>

    <div class="container mt-5">
        <h1>Ini adalah halaman Master</h1>
        <button type="button" class="btn btn-primary" onclick="startQuiz()">Start Quiz!</button>
    </div>

    <script src="js/script.js"></script>
    
<%- include('../partials/footer') %>

    